$white: white;
$black: black;

$box-shadow: rgba(0, 0, 0, 0.15);
$filter-backgroudn: rgba(208, 208, 208, 0.331);
$button-bg: rgb(108, 108, 191);
$tint-clr: rgba(128, 128, 128, 0.459);
$gainsboro: gainsboro;
$gray: gray;
$danger-clr: red;
