* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

// Header styles
header {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  section.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding-block: 10px;
    gap: 20px;

    section#filter {
      background-color: rgb(232, 232, 232);
      border-radius: 4px;
      width: 100%;
      max-width: 500px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline: 35px 0px;
      position: relative;
      overflow: hidden;
      input{
        padding: 10px;
        width: 100%;
        background-color: transparent;
        border: none;
        &:focus{
          outline: none;
        }
      }
      span {
        position: absolute;
        left: 14px;
        padding-top: 4px;
      }

      button{
        border: none;
        background-color: rgb(108, 108, 191);
        color: white;
        padding: 10px 25px;
        border-radius: 1px;
        cursor: pointer;
      }
    }
  }
}

// User section
section#user {
  width: 100%;
  max-width: 1000px;
  margin: 30px auto;
  border-radius: 20px;
  section.profile {
    display: flex;
    align-items: center;
    gap: 20px;

    a {
      text-decoration: none;
    }
    img {
      width: 50%;
      max-width: 250px;
      border-radius: 5%;
    }
    .username {
      display: flex;
      align-items: center;
      gap: 6px;
      h1 {
        font-size: 24px;
      }
      a {
        display: block;
        font-weight: bold;
        text-decoration: none;
      }
    }
    .bio {
      font-size: 18px;
    }
    ul.details {
      margin-block: 10px;
      li {
        display: flex;
        align-items: center;
        gap: 5px;

        span,
        a {
          padding-bottom: 2 px;
        }
      }
    }
    ul.followers {
      list-style: none;
      display: flex;
      margin-top: 20px;
      li {
        text-align: center;
        border-inline: 1px solid rgb(212, 212, 212);
        padding-inline: 10px;
        h5 {
          font-weight: normal;
        }
      }
    }
  }
}

.error {
  text-align: center;
  color: red;
  margin-top: 40px;
}
