* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button:hover {
  opacity: 0.8;
}

header#header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
header#header section.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 10px;
  gap: 20px;
}
header#header section.header-container section#filter {
  background-color: rgba(208, 208, 208, 0.331);
  border-radius: 4px;
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 35px 0px;
  position: relative;
  overflow: hidden;
}
header#header section.header-container section#filter input {
  padding: 10px;
  width: 100%;
  background-color: transparent;
  border: none;
}
header#header section.header-container section#filter input:focus {
  outline: none;
}
header#header section.header-container section#filter span {
  position: absolute;
  left: 14px;
  padding-top: 4px;
}
header#header section.header-container section#filter button {
  background-color: rgb(108, 108, 191);
  color: white;
  padding: 10px 35px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.459);
}
.container .info {
  background-color: white;
  border-radius: 20px;
  width: 95%;
  height: 50%;
  max-width: 370px;
  height: 400px;
  margin: 6rem auto;
  border-radius: 5px;
}
.container header {
  text-align: center;
  border-bottom: 1px solid gainsboro;
  position: relative;
  padding: 12px;
}
.container header span {
  position: absolute;
  right: 13px;
  top: 13px;
  cursor: pointer;
}
.container ul {
  padding: 10px 10px 80px;
  overflow-y: scroll;
  max-height: 330px;
}
.container ul li {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  padding-block: 5px 8px;
  border-bottom: 1px solid gainsboro;
}
.container ul li .followers {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}
.container ul li img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.container ul li a {
  text-decoration: none;
}
.container ul li span {
  margin-right: 5px;
  color: gray;
  font-size: 18px;
  position: relative;
  bottom: -3px;
}
.container ul li .language {
  text-align: left;
  font-size: 14px;
}

main {
  display: flex;
  min-height: 100vh;
  align-items: center;
}

section#user {
  border: 1px solid gainsboro;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  overflow: hidden;
  width: 90%;
  margin-inline: auto;
  max-width: 350px;
  padding: 20px 10px 20px 15px;
  border-radius: 10px;
  margin-bottom: 60px;
}
section#user .github-link {
  text-align: left;
  width: 100%;
  display: block;
  text-decoration: none;
  font-weight: bold;
  padding-top: 10px;
  margin-left: -2px;
}
section#user .profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section#user .profile img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
section#user .profile ul {
  display: flex;
  list-style: none;
  text-align: center;
}
section#user .profile ul li {
  cursor: pointer;
  padding-inline: 8px;
}
section#user .profile ul li h1,
section#user .profile ul li h5 {
  font-weight: normal;
  font-size: 14px;
}
section#user .profile ul li h1 {
  font-weight: bold;
}
section#user .description .bio {
  font-weight: bold;
  padding-block: 0px 5px;
  word-wrap: break-word;
}
section#user .details li {
  display: flex;
  align-items: center;
  font-size: 14px;
}
section#user .details li span,
section#user .details li a {
  padding-bottom: 3px;
  margin-left: 5px;
  text-decoration: none;
}

.error {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: red;
  margin-top: 40px;
}

.loading {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 275px;
  right: 0;
  left: 0;
  margin: auto;
  animation: rotation 0.8s infinite linear;
}

.loading-container {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.main-loading {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  animation: rotation 0.8s infinite linear;
}

@media (max-width: 500px) {
  section#user {
    font-size: 13px;
  }
  section#user .profile {
    justify-content: space-around;
  }
  section#user .profile img {
    height: 35px;
    width: 35px;
  }
  section#user .profile ul {
    flex-wrap: wrap;
  }
  section#user .profile ul li {
    padding: 2px;
    font-size: 12px;
  }
  section#user .profile ul li h5 {
    font-size: 12px;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}/*# sourceMappingURL=styles.css.map */